.connection-profile {
	.connection-profile__image {
		display: block;
		margin: 0 0 1rem 0;
	}
	.connection-profile__username {
		font-size: 2rem;
		font-weight: bold;
	}
	.connection-profile__name {
		font-size: 1.5rem;
	}
}